<section *ngIf="currentProduct$ | async as product" class="my-lg-14 my-8 section--products">
  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-6">
        <div class="d-flex justify-content-center">
          <img src="{{ product.imageUrl }}" alt="">
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="">
          <p></p>
          <p *ngIf="currentCategory$ | async as category" class="text-primary">{{category.name}}</p>
          <h1>{{ product.name }}</h1>
          <small class="text-warning pe-2">
            <i *ngFor="let val of countStars(product.ratingValue)" class="bi"
               [ngClass]="{'bi-star-fill': val === 1, 'bi-star': val === 0, 'bi-star-half': val === 0.5}">
            </i>
          </small><span class="text-primary">({{ product.ratingCount }} reviews)</span>
          <h4 class="pt-6">{{ product.price | currency }}</h4>
          <hr class="my-6" />
          <div class="mb-5">
            <button type="button" class="btn btn-outline-secondary me-1">250g</button>
            <button type="button" class="btn btn-outline-secondary me-1">500g</button>
            <button type="button" class="btn btn-outline-secondary me-1">1kg</button>
          </div>
          <div>
            <div class="input-group input-spinner  ">
              <input type="button" value="-" class="button-minus  btn  btn-sm" data-field="quantity">
              <input type="number" step="1" max="10" value="1" name="quantity" class="quantity-field form-control-sm form-input">
              <input type="button" value="+" class="button-plus btn btn-sm " data-field="quantity">
            </div>
          </div>
          <div class="mt-3 row justify-content-start g-2 align-items-center">
            <div class="col-xxl-4 col-lg-4 col-md-5 col-5 d-grid">
              <button type="button" class="btn btn-primary"><i class="feather-icon icon-shopping-bag me-2"></i>Add to cart</button>
            </div>
            <div class="col-md-4 col-4">
              <a class="btn btn-light " href="#" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare"><i class="bi bi-arrow-left-right"></i></a>
              <a class="btn btn-light " href="#" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist"><i class="feather-icon icon-heart"></i></a>
            </div>
          </div>
          <hr class="my-6" />
        </div>
      </div>

    </div>
  </div>
</section>

