<section class="my-lg-14 my-8">
  <div class="container">
    <div class="row d-flex flex-wrap">
      <h3>Shop by Category</h3>
      <div *ngFor="let item of categoriesList$ | async" class="card-product-wrapper mx-2 my-3">
        <a [routerLink]="'categories/' + item.id" class="text-decoration-none text-inherit">
          <div class="card card-product">
            <div class="card-body text-center py-8">
              <img [src]="item.imageUrl" [alt]="" class="mb-3">
              <div class="text-truncate">{{item.name}}</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>



