@media (min-width: 992px) {
  .card-product-wrapper {
    width: calc(25% - 1rem);
    min-width: 200px;

    &:first-of-type {
      margin-left: 0!important;
    }

    &:nth-of-type(4n) {
      margin-right: 0!important;
    }

    &:nth-of-type(5n) {
      margin-left: 0!important;
    }
  }

  .card-store-wrapper {
    width: 33%;
  }
}
