<section *ngIf="categoriesList$ | async as categories" class="my-lg-14 my-8 section--basic-category-products">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 col-md-4 mb-4 mb-md-0">
        <h5>Categories</h5>
        <ul class="navbar-nav">
          <li *ngFor="let item of categoriesList$ | async" class="nav-item border-bottom">
            <a class="nav-link position-relative" [routerLink]="'/categories/' + item.id" role="button">
              {{item.name}}
              <i class="icon bi bi bi-chevron-right position-absolute"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-9 col-md-8" *ngIf="currentCategory$ | async as currentCategory">
        <div class="col-12 mb-6 bg-gray-100 py-8 px-8 rounded">
          <h3 class="mb-1">{{ currentCategory.name }}</h3>
          <p>5 Products found</p>
          <div *ngFor="let item of productsList$ | async" class="col">
            <a [routerLink]="''" class="text-decoration-none text-inherit">
              <div class="card card-product">
                <div class="card-body text-center py-8">
                  <img [src]="item.imageUrl" [alt]="item.name" class="mb-3">
                  <div class="text-truncate">{{item.name}}</div>
                  <p>{{item.ratingValue}} ({{item.ratingCount}})</p>
                  <small class="text-warning">
                    <i *ngFor="let val of [1, 1, 0.5, 0, 0]" class="bi" [ngClass]="{'bi-star-fill': val === 1, 'bi-star': val === 0, 'bi-star-half': val === 0.5}"></i>
                  </small>
                  <p>{{ item.price | currency }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

