<section *ngIf="categoriesList$ | async as categories" class="my-lg-14 my-8 section--basic-category-products">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 col-md-4 mb-4 mb-md-0">
        <h5>Categories</h5>
        <ul class="navbar-nav">
          <li *ngFor="let item of categoriesList$ | async" class="nav-item border-bottom">
            <a class="nav-link position-relative" [routerLink]="'/categories/' + item.id" role="button">
              {{item.name}}
              <i class="icon bi bi bi-chevron-right position-absolute"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-9 col-md-8" *ngIf="currentCategory$ | async as currentCategory">
        <div class="col-12 mb-6">
          <div class="bg-gray-100 py-8 px-8 rounded">
            <h3 class="mb-1">{{ currentCategory.name }}</h3>
          </div>
          <div class="">
            <ng-container *ngIf="productsList$ | async as products">
              <p>{{ products.length }} Products found</p>
              <div class="col" *ngFor="let product of productsList$ | async">
                <a [routerLink]="''" class="text-decoration-none text-inherit">
                  <div class="card card-product">
                    <div class="card-body text-center py-8">
                      <img [src]="product.imageUrl" [alt]="product.name" class="mb-3">
                      <div class="text-truncate">{{currentCategory.name}}</div>
                      <div class="text-truncate">{{product.name}}</div>
                      <p>{{product.ratingValue}} ({{product.ratingCount}})</p>
                      <small class="text-warning">
                        <i *ngFor="let val of countStars(product.ratingValue)" class="bi" [ngClass]="{'bi-star-fill': val === 1, 'bi-star': val === 0, 'bi-star-half': val === 0.5}"></i>
                      </small>
                      <p>{{ product.price | currency }}</p>
                    </div>
                  </div>
                </a>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

