<ng-container *ngIf="currentStore$ | async as store">
  <section class="my-lg-14 my-8 section--store-products">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12 pb-6">
          <div class="d-flex flex-column">
            <div>
              <img [src]="store.logoUrl" [alt]="store.name" class="rounded-circle icon-shape icon-xxl">
            </div>
            <div class="mt-4">
              <h3 class="mb-1 h4">{{store.name}}</h3>
              <div class="small text-muted"><span>It is only {{ (store.distanceInMeters / 1000).toFixed(1) }} km away from you!</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-12 py-8 store-products--search-form-wrapper row bg-gray-100 rounded">
          <form [formGroup]="searchForm" class="store-products--search-form col-lg-6">
            <h5>{{store.name}}</h5>
            <div class="text-truncate mb-2">Whatever the occasion, we've got you covered.</div>
            <div class="store-products--search-form-input-wrapper position-relative d-inline-block">
              <input type="text" class="store-products--search-form-input px-2 py-1" formControlName="search" [placeholder]="'Search ' + store.name">
              <i class="icon bi bi-search position-absolute"></i>
            </div>
          </form>
          <img src="assets/images/svg-graphics/store-graphics.svg" [alt]="" class="store-products--search-form-img col-lg-6">
        </div>
      </div>
      <div class="row mt-8">
        <h2>{{store.name}} products:</h2>
      </div>
      <div class="row">
        <div class="store-products-container d-flex flex-wrap">
          <div *ngFor="let product of currentStoreProducts$ | async" class="col-lg-2 col-md-4 col-sm-6 col-12 px-2 py-2 card-product-wrapper">
            <a [routerLink]="'/products/' + product.id" class="text-decoration-none text-inherit">
              <div class="card card-product">
                <div class="card-body text-center py-8">
                  <img [src]="product.imageUrl" [alt]="product.name" class="mb-3 card-product-img">
                  <div class="text-truncate">{{product.name}}</div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>


